@import "../../../../assets/stylesheets/settings/variables";

.input-content {
    display: flex;
    color: $primary-color;

    &__text {
        &--has-space {
            padding-right: 10px;
        }
    }
}