@import "../../../assets/stylesheets/settings/variables";

.home {
    &__figure {
        width: 100%;
        margin: 35px 0 0 0;

        @media (min-width: 768px) {
            width: 300px;
        }
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
    }

    &__footer {
        height: 10vh;
        position: sticky;
        bottom: 0;
        background-color: $black;
    
        @media (min-width: 768px) {
          height: 5vh;
        }
    }
}