@import "../../../../assets/stylesheets/settings/variables";

.console-text {
    max-width: 600px;
    color: $primary-color;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    white-space: pre-line;
}