@import "./assets/stylesheets/styles.scss";

.terminal__main {
  height: calc(90vh - 10px);
  padding: 10px;
  overflow-y: auto;

  @media (min-width: 768px) {
    height: calc(95vh - 10px);
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
      
  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border: 3px solid $primary-color;
  }
}

.terminal__footer {
  height: 10vh;
  position: sticky;
  bottom: 0;
  background-color: $black;

  @media (min-width: 768px) {
    height: 5vh;
  }
}