@import "./assets/stylesheets/styles.scss";

.terminal__main {
  height: 90vh;
  padding: 10px;

  @media (min-width: 768px) {
    height: 95vh;
  }
}

.terminal__footer {
  height: 10vh;
  position: sticky;
  bottom: 0;
  background-color: $black;
  padding: 0 10px;

  @media (min-width: 768px) {
    height: 5vh;
  }
}