@import "../../../../assets/stylesheets/settings/variables";

.terminal-options {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    &__form {
        height: 100%;
        position: relative;
    }

    &__button {
        min-width: 75px;
        width: 75px;
        height: 100%;
        appearance: none;
        border: none;
        background-color: transparent;
        color: transparent;

        @media (max-width: 475px) {
            background-color: $primary-color;
            color: $black;
        }

        @media (min-width: 476px) {
            position: absolute;
            right: 10px;
        }
    }

    &__input-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__label {
        color: $primary-color;
    }

    &__label, &__input {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;

        @media (max-width: 475px) {
            font-size: 14px;
        }
    }

    &__greater {
        margin-left: 5px;
        animation: fade 1s infinite;
    }

    &__input {
        width: calc(100% - 20px);
        height: 100%;
        display: flex;
        flex-grow: 1;
        position: absolute;
        background-color: transparent;
        border: none;
        color: transparent;
    }

}